<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <context:component-scan base-package="org.example"/>
    <!--<bean id="rockBean" class="org.example.RockMusic"/>
    <bean id="classicBean"
          class="org.example.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic"/>
    <bean id="rapBean" class="org.example.RapMusic"/>

    <bean id="musicPlayer"
          class="org.example.MusicPlayer"
          scope="prototype"
          init-method="initMethod"
          destroy-method="destroyMethod">
        <property name="musicList">
            <list>
                <ref bean="rockBean"/>
                <ref bean="classicBean"/>
                <ref bean="rapBean"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>-->

</beans>